/* .App {
  background-image: url('../public//Images//background.png'); 
  background-size: cover;
  background-position: center;
} */

.headerPlusContent {
  margin: 1%;
}

.GogreenMainContainer {
  margin-top: 1%;
}
